body {
    background-color: #dddddd;
    font-family: monospace;
}
code{
    background-color: #073642;
    color: eee8d5;
    font: mono;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 0px;
    display: inline-block;
}
button{
    border: 1px solid black;
    background: #afafaf;
    border-radius: 5px;
}
hr{
    height:2px;
    border-width:0;
    color:gray;
    background-color:#aaaaaa;
    border-radius: 25px;
}
/* Prettify */
.prettyprint {
    color: #839496;
    background-color: #002b36;
}

.prettyprint .pln {
    color: inherit;
}

.prettyprint .str,
.prettyprint .lit,
.prettyprint .atv {
    color: #2aa198;
}

.prettyprint .kwd {
    color: #268bd2;
}

.prettyprint .com,
.prettyprint .dec {
    color: #586e75;
    font-style: italic;
}

.prettyprint .typ {
    color: #b58900;
}

.prettyprint .pun {
    color: inherit;
}

.prettyprint .opn {
    color: inherit;
}

.prettyprint .clo {
    color: inherit;
}

.prettyprint .tag {
    color: #268bd2;
    font-weight: bold;
}

.prettyprint .atn {
    color: inherit;
}
