body {
                background-color: #c0c0c0;
                font-family: monospace;
            }
code{
    background-color: #073642;
    color: eee8d5;
    font: mono;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 5px 0px;
    display: inline-block;
}
